.main {
  height: 20%;
  background-color: #f5f5f5;
  border: 1px solid #dbdbdb;
  border-right: none;
  position: relative;
}
.footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

input {
  bottom: 0;
  width: 80%;
  border: 1px solid #d6d6d6;
  height: 40px;
  border-radius: 30px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  padding-left: 50px;
  outline: none;
}

.img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 7%;
  top: 10px;
}
